<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bread4all">
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bread4All">
        <activity
            android:name=".PreferencesActivity"
            android:exported="true"
            />
        <activity
            android:name=".LogearActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistrarseActivity"
            android:label="Registrarse" />
        <activity
            android:name=".InicioActivity"
            android:label="Inicio" />
        <activity android:name=".ProductoActivity"/>
    </application>

</manifest>